<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <mapper namespace="org.mybatis.example.BlogMapper"> -->
<mapper namespace="kr.co.mapper.order">

	<!-- 회원정보 불러오기 -->
  <select id="selectById" resultType="kr.co.domain.UserDTO">
  select * from tab_user where u_id = 'bbaeggom'
  </select>
  
  <insert id="addCart">
  	insert into tab_basket(u_id,b_id) values(#{u_id}, #{b_id})
  </insert>
	

	<select id="selectCartList" resultType="String">
	select b_id from tab_basket where u_id = #{u_id}
	</select>
	
	<select id="getGoods" resultType="kr.co.domain.GoodsVO">
	select * from tab_goods where g_id = #{g_id}
	</select>

	<select id="selectGoodsList" resultType="kr.co.domain.GoodsVO">
	select * from tab_goods where g_id = #{g_id}
	</select>
</mapper>